.messenger{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left: 40px;
	background-color:#4267B2 !important;
	color:#fff;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #f0f0f0;
    z-index:100;
}
.messenger:hover {
	text-decoration: none;
	color: #4267B2;
    background-color:#fff !important;
}
.messenger:focus{
    color: #fff;
}
.my-messenger{
	margin-top:16px;
}